<html>
    <head>
        <meta charset="utf-8">
        <title>PIZZERÍA ARGENTA SRL</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">        
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		
		<script type="text/javascript"></script>
    </head>
    <body>
        <nav class="navbar navbar-default" style="background-color: #FF5A60">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">PIZZERÍA ARGENTA SRL</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a (click)= "verListado()">Listado de productos</a></li>
                    <li><a href="./alta/alta.component" >Alta</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>