<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="jquery.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Bienvenido</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">EMPRESA</a></li>
        <li><a href="#locales">LOCALES</a></li>
        <li><a href="#pizzas">PIZZAS</a></li>
        <li><a href="#promos">PROMOS</a></li>
        <li><a href="#pedidos">PEDIDOS</a></li>
        <li><a href="#contacto">CONTACTO</a></li>
        <li><a href="#usuarios">USUARIOS</a></li>
        <li><a href="#login">LOGIN</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Pizzería Argenta</h1> 

    <carousel>
        <slide>
          <img src="assets/fotos/napolitana.jpg" height="565" width="1350" alt="First slide">
        </slide>
        <slide>
          <img src="assets/fotos/panceta.jpg" height="565" width="1350" alt="Second slide">
        </slide>
        <slide>
          <img src="assets/fotos/fugazzeta.jpg" height="565" width="1350" alt="Third slide">
        </slide>
      </carousel>
</div>

<!-- ABOUT -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>Nuestra Empresa</h2>
      <h4>Somos Pizzería Argenta, un establecimiento que ofrece productos de pizzería gourmet. Trabajamos desde 1978 en el rubro.
          No dude en venir a conocernos, estamos ubicados en Lomas de Zamora, Banfield y Adrogué.</h4>
      <h4>Nos esforzamos para elegir la mejor materia prima para nuestras pizzas, y asi convertir nuestra especialidad en tu mayor debilidad.</h4>  
      <h4>Gracias por elegirnos una vez más.</h4><br>
    </div>
    <div class="col-sm-4">
      <img src="assets/fotos/pizza2.jpg" class="img-circle" alt="pizza" width="204" height="136" style= "margin-top: 30px; margin-left: 30px; margin-bottom: 15px">
      <img src="assets/fotos/pizza1.jpg" class="img-circle" alt="pizza" width="204" height="136" style= "margin-left: 30px; margin-bottom: 15px">
      <img src="assets/fotos/pizza3.jpg" class="img-circle" alt="pizza" width="204" height="136" style= "margin-left: 30px">
    </div>

<button class="btn btn-default btn-lg">Calificanos</button><br>
<rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
        (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
        [titles]="['one','two','three']"></rating>
<span class="label"
      [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
      [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}">{{percent}}%</span>
</div>
</div>

<!-- LOCALES -->
<div id="locales" class="container-fluid text-center">
  <h2>Nuestros locales</h2><br>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <carousel>
        <slide>
          <img src="assets/fotos/lomas.jpg"  height="400" width="300">
        </slide>
        <slide>
          <img src="assets/fotos/lomas2.jpg" height="400" width="300">
        </slide>
        <slide>
          <img src="assets/fotos/lomas3.jpg" height="400" width="300">
        </slide>
      </carousel>
        <p><strong>Lomas de Zamora</strong></p>
        <p>Loria 567</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <carousel>
        <slide>
          <img src="assets/fotos/banfield.jpg" height="400" width="300">
        </slide>
        <slide>
          <img src="assets/fotos/banfield2.jpg" height="400" width="300">
        </slide>
        <slide>
          <img src="assets/fotos/banfield3.jpg" height="400" width="300">
        </slide>
      </carousel>
        <p><strong>Banfield</strong></p>
        <p>Gallo 1254</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <carousel>
        <slide>
          <img src="assets/fotos/adrogue.jpg" height="400" width="300">
        </slide>
        <slide>
          <img src="assets/fotos/adrogue2.jpg" height="400" width="300">
        </slide>
        <slide>
          <img src="assets/fotos/adrogue3.jpg" height="400" width="300">
        </slide>
      </carousel>
        <p><strong>Adrogué </strong></p>
        <p>Espora 287</p>
      </div>
    </div>
  </div><br>
</div>

<!-- PIZZAS -->
<div id="pizzas" class="container-fluid text-center bg-grey">
  <div class="text-center">
    <h2>Pizzas</h2>
    <h4>Nuestras especialidades</h4>
  </div>
<div class="container">      
  <table class="table">
    <thead style="font-size: 14px;text-align: center;">
      <tr>
        <th class="col-sm-3">NOMBRE</th>
        <th class="col-sm-3">PRECIO</th>
        <th class="col-sm-4">FOTO</th>
        <th colspan="2" style="padding-left: 80px" class="col-sm-2">ACCIONES</th>
      </tr>
    </thead>
    <tbody *ngFor="let datos of datosPizzas" style="text-align: left;"> 
      <tr>
      <td><strong>{{ datos.nombre }}</strong></td>
      <td>$ {{ datos.precio }}</td>
      <td><img src="./assets/fotos/{{ datos.foto }}" width="75px" height="75px"></td>
      <td> <button class="btn btn-info" (click)="modalModificarPizza.open()"> MODIFICAR </button> </td>
      <td> <button class="btn btn-danger" (click)="modalBorrarPizza.open()"> BORRAR </button> </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
      <modal #modalModificarPizza  valign= "center">
          <modal-header>
              <h1>Modificar Pizza</h1>
          </modal-header>
          <modal-content>
              <b><div align=left style="padding-top:10px">Pizza</div></b> 
              <input [(ngModel)] = "nombrePizza" class="form-control" id="pizza" name="pizza" type="pizza">
              <b><div align=left style="padding-top:10px">Precio</div></b>   
              <input [(ngModel)]="precioPizza" class="form-control" id="precio" name="precio" type="precio">
          </modal-content>
          <modal-footer>
              <button class="btn btn-success"(click)="modalModificarPizza.close()"> GUARDAR </button>
              <button class="btn btn-danger"  id= "cerrarModificarPizza" (click)="modalModificarPizza.close()"> CANCELAR </button>
          </modal-footer>
      </modal>
  </div>

    <div class="row">
      <modal #modalBorrarPizza valign= "center">
          <modal-header>
              <h1>Eliminar Pizza</h1>
          </modal-header>
          <modal-content>   
                ¿Seguro desea eliminar la pizza?
          </modal-content>
          <modal-footer>
              <button class="btn btn-success"(click)="borrarPizza(datos.id)"> ELIMINAR </button>
              <button class="btn btn-danger" id= "cerrarBorrarPizza" (click)="modalBorrarPizza.close()"> CANCELAR </button>
          </modal-footer>
      </modal>
    </div>

  <div class="row">
      <button class="btn btn-success"(click)="modalAgregarPizza.open()"> NUEVA PIZZA </button>
      <modal #modalAgregarPizza>
          <modal-header>
              <h1>Agregar Pizza</h1>
          </modal-header>
          <modal-content>
              <b><div align=left style="padding-top:10px">Nombre</div></b> 
              <input [(ngModel)] = "nombre"class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion" type="descripcion">
              <b><div align=left style="padding-top:10px">Precio</div></b>   
              <input [(ngModel)] = "precio" class="form-control" id="precio" name="precio" placeholder="Precio" type="precio">
              <b><div align=left style="padding-top:10px">Foto</div></b>   
              <input [(ngModel)] = "foto" class="form-control" id="foto" name="foto" placeholder="Foto" type="foto">
          </modal-content>
          <modal-footer>
              <button class="btn btn-success"(click)="altaPizza()"> GUARDAR </button>
              <button class="btn btn-danger" id= "cerrarAgregarPizza" (click)="modalAgregarPizza.close()"> CANCELAR </button>
          </modal-footer>
      </modal>
    </div>

  </div>
</div>

<!-- PROMOS -->
<div id="promos" class="container-fluid">
  <div class="text-center">
    <h2>Promociones</h2>
    <h4>Para que elijas la que mas te guste</h4>
  </div>

    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Muzzarella + 6 empanadas</h1>
        </div>
        <div class="panel-body">
          <p><strong>Jueves</strong> efectivo</p>
        </div>
        <div class="panel-footer">
          <h3>$190</h3>
          <h4>sólo noche</h4>
          <button class="btn btn-lg">Comprar</button>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Muzzarella + Napolitana</h1>
        </div>
        <div class="panel-body">
          <p><strong>Viernes</strong> efectivo</p>
        </div>
        <div class="panel-footer">
          <h3>$250</h3>
          <h4>sólo noche</h4>
          <button class="btn btn-lg">Comprar</button>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Muzarrella + Fugazzeta</h1>
        </div>
        <div class="panel-body">
          <p><strong>Sábado</strong> efectivo</p>
        </div>
        <div class="panel-footer">
          <h3>$290</h3>
          <h4>sólo noche</h4>
          <button class="btn btn-lg">Comprar</button>
        </div>
      </div>      
    </div>    
  </div>


  <!-- PEDIDOS -->
<div id="pedidos" class="container-fluid text-center bg-grey">
  <div class="text-center">
    <h2>Pedidos</h2>
  </div>
<!--<label *ngIf="validaLogin == 'ok'">-->
<div class="container">      
  <table class="table">
    <thead style="font-size: 14px;text-align: center;">
      <tr>
        <th class="col-sm-3">USUARIO</th>
        <th class="col-sm-3">DESCRIPCION</th>
        <th class="col-sm-3">TOTAL</th>
        <th colspan="2" style="padding-left: 90px" class="col-sm-2">ACCIONES</th>
      </tr>
    </thead>
    <tbody *ngFor="let datos of datosPedidos" style="text-align: left;"> 
      <tr>
      <td>{{ datos.usuario }}</td>
      <td><strong> {{ datos.descripcion }}</strong> </td>
      <td>$ {{ datos.total }}</td>
      <td> <button class="btn btn-info" (click)="modalModificarPedido.open()"> MODIFICAR </button> </td>
      <td> <button class="btn btn-danger" (click)="modalBorrarPedido.open()"> BORRAR </button> </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
      <modal #modalModificarPedido  valign= "center">
          <modal-header>
              <h1>Modificar Pedido</h1>
          </modal-header>
          <modal-content>
              <b><div align=left style="padding-top:10px">Descripcion</div></b> 
              <input class="form-control" id="descripcion" name="descripcion"type="descripcion">
              <b><div align=left style="padding-top:10px">Total</div></b>   
              <input class="form-control" id="total" name="total" type="total...">
          </modal-content>
          <modal-footer>
              <button class="btn btn-success"(click)="modalModificarPedido.close()"> GUARDAR </button>
              <button class="btn btn-danger" id= "cerrarModificarPedido" (click)="modalModificarPedido.close()"> CANCELAR </button>
          </modal-footer>
      </modal>
  </div>

    <div class="row">
      <modal #modalBorrarPedido valign= "center">
          <modal-header>
              <h1>Eliminar Pedido</h1>
          </modal-header>
          <modal-content>
              <b><div align=left>Id</div></b>     
              <input class="form-control" id="id" name="id" type="id">
          </modal-content>
          <modal-footer>
              <button class="btn btn-success"(click)="modalBorrarPedido.close()"> ELIMINAR </button>
              <button class="btn btn-danger" id= "cerrarBorrarPedido" (click)="modalBorrarPedido.close()"> CANCELAR </button>
          </modal-footer>
      </modal>
    </div>

  <div class="row">
      <button class="btn btn-success"(click)="modalAgregarPedido.open()"> NUEVO PEDIDO </button>
      <modal #modalAgregarPedido>
          <modal-header>
              <h1>Agregar Pedido</h1>
          </modal-header>
          <modal-content>  
              <b><div align=left style="padding-top:10px">Descripcion</div></b> 
              <input class="form-control" id="descripcion" name="descripcion" placeholder="descripcion..." type="descripcion">
              <b><div align=left style="padding-top:10px">Total</div></b>   
              <input class="form-control" id="total" name="total" placeholder="Mail" type="total">
          </modal-content>
          <modal-footer>
              <button class="btn btn-success"(click)="modalAgregarPedido.close()"> GUARDAR </button>
              <button class="btn btn-danger" id= "cerrarAgregarPedido" (click)="modalAgregarPedido.close()"> CANCELAR </button>
          </modal-footer>
      </modal>
    </div>
  </div>
<!--</label>-->
</div>


<!-- CONTACTO -->
<div id="contacto" class="container-fluid bg-grey">
  <h2 class= "text-center">CONTACTO</h2>
  <div class="row">
    <div class="col-sm-4">
      <p><span class="glyphicon glyphicon-map-marker"></span><strong> Lomas de Zamora, Buenos Aires</strong></p>
      <p><span class="glyphicon glyphicon-phone"></span> +5411 4292-6578</p>
      <p><span class="glyphicon glyphicon-envelope"></span> pizzeriaargentalomas@gmail.com</p><br>
    </div>
    <div class="col-sm-4">
      <p><span class="glyphicon glyphicon-map-marker"></span><strong> Banfield, Buenos Aires</strong></p>
      <p><span class="glyphicon glyphicon-phone"></span> +5411 4295-6874</p>
      <p><span class="glyphicon glyphicon-envelope"></span> pizzeriaargentabanfield@gmail.com</p><br>
    </div>
    <div class="col-sm-4">  
      <p><span class="glyphicon glyphicon-map-marker"></span><strong> Adrogué, Buenos Aires</strong></p>
      <p><span class="glyphicon glyphicon-phone"></span> +5411 4295-6874</p>
      <p><span class="glyphicon glyphicon-envelope"></span> pizzeriaargentaadrogue@gmail.com</p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comentarios" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </div>
      <agm-map [latitude]="latitud" [longitude]="longitud" [zoom]="12">
       <agm-marker [latitude]="latitud" [longitude]="longitud" [label]="'Lomas'"></agm-marker>
       <agm-marker [latitude]="latitud2" [longitude]="longitud2" [label]="'Banfield'"></agm-marker>
       <agm-marker [latitude]="latitud3" [longitude]="longitud3" [label]="'Adrogué'"></agm-marker>
      </agm-map>
</div>

<!-- USUARIOS -->
<div id="usuarios" class="container-fluid text-center bg-grey">
  <div class="text-center">
    <h2>Usuarios</h2>
  </div>
<!--<label *ngIf="validaLogin == 'ok'">-->
<div class="container">      
  <table class="table">
    <thead style="font-size: 14px;text-align: center;">
      <tr>
        <th class="col-sm-2">NOMBRE</th>
        <th class="col-sm-2">CARGO</th>
        <th class="col-sm-2">CALLE</th>
        <th class="col-sm-2">NUMERO</th>
        <th class="col-sm-2">LOCALIDAD</th>
        <th class="col-sm-2">TELEFONO</th>
        <th colspan="2" style="padding-left: 75px" class="col-sm-2">ACCIONES</th>
      </tr>
    </thead>
    <tbody *ngFor="let datos of datosUsuarios" style="text-align: left;"> 
      <tr>
      <td><strong>{{ datos.nombre }} {{ datos.apellido }}</strong></td>
      <td>{{ datos.perfil }}</td>
      <td>{{ datos.calle }}</td>
      <td>{{ datos.numero }}</td>
      <td>{{ datos.localidad }}</td>
      <td>{{ datos.telefono }}</td>
      <td><button class="btn btn-info" (click)="modalModificarUsuario.open()"> MODIFICAR </button></td>
      <td><button class="btn btn-danger"(click)="modalBorrarUsuario.open()"> BORRAR </button></td>
      </tr>
    </tbody>
  </table>

  <div class="row">
      <modal #modalModificarUsuario  valign= "center">
          <modal-header>
              <h1>Modificar Usuario</h1>
          </modal-header>
          <modal-content>
              <b><div align=left style="padding-top:10px">Nombre</div></b> 
              <input class="form-control" id="nombre" name="nombre" placeholder="Nombre" type="nombre">
              <b><div align=left style="padding-top:10px">Apellido</div></b>   
              <input class="form-control" id="apellido" name="apellido" placeholder="Mail" type="apellido">
              <b><div align=left style="padding-top:10px">Cargo</div></b>   
              <input class="form-control" id="cargo" name="cargo" placeholder="Cargo" type="cargo">
               <b><div align=left style="padding-top:10px">Calle</div></b>   
              <input class="form-control" id="calle" name="calle" placeholder="Calle" type="calle">
              <b><div align=left style="padding-top:10px">Número</div></b>   
              <input class="form-control" id="numero" name="numero" placeholder="Numero" type="numero">
              <b><div align=left style="padding-top:10px">Localidad</div></b>   
              <input class="form-control" id="localidad" name="localidad" placeholder="Localidad" type="localidad">
              <b><div align=left style="padding-top:10px">Teléfono</div></b>   
              <input class="form-control" id="telefono" name="telefono" placeholder="Telefono" type="telefono">
          </modal-content>
          <modal-footer>
              <button class="btn btn-success"(click)="modalModificarUsuario.close()"> GUARDAR </button>
              <button class="btn btn-danger" id= "cerrarModificarUsuario" (click)="modalModificarUsuario.close()"> CANCELAR </button>
          </modal-footer>
      </modal>
  </div>

    <div class="row">
      <modal #modalBorrarUsuario valign= "center">
          <modal-header>
              <h1>Eliminar Usuario</h1>
          </modal-header>
          <modal-content>
              <b><div align=left>Id</div></b>     
              <input class="form-control" id="id" name="id" type="id">
          </modal-content>
          <modal-footer>
              <button class="btn btn-success"(click)="modalBorrarUsuario.close()"> ELIMINAR </button>
              <button class="btn btn-danger"(click)="modalBorrarUsuario.close()"> CANCELAR </button>
          </modal-footer>
      </modal>
    </div>

  <div class="row">
      <button class="btn btn-success"(click)="modalCrearUsuario.open()"> NUEVO USUARIO </button>
      <modal #modalCrearUsuario>
          <modal-header>
              <h1>Agregar Usuario</h1>
          </modal-header>
          <modal-content>
              <b><div align=left style="padding-top:10px">Nombre</div></b> 
              <input class="form-control" id="nombre" name="nombre" placeholder="Nombre" type="nombre">
              <b><div align=left style="padding-top:10px">Apellido</div></b>   
              <input class="form-control" id="apellido" name="apellido" placeholder="Mail" type="apellido">
              <b><div align=left style="padding-top:10px">Cargo</div></b>   
              <input class="form-control" id="cargo" name="cargo" placeholder="Cargo" type="cargo">
               <b><div align=left style="padding-top:10px">Calle</div></b>   
              <input class="form-control" id="calle" name="calle" placeholder="Calle" type="calle">
              <b><div align=left style="padding-top:10px">Número</div></b>   
              <input class="form-control" id="numero" name="numero" placeholder="Numero" type="numero">
              <b><div align=left style="padding-top:10px">Localidad</div></b>   
              <input class="form-control" id="localidad" name="localidad" placeholder="Localidad" type="localidad">
              <b><div align=left style="padding-top:10px">Teléfono</div></b>   
              <input class="form-control" id="telefono" name="telefono" placeholder="Telefono" type="telefono">
          </modal-content>
          <modal-footer>
              <button class="btn btn-success"(click)="modalCrearUsuario.close()"> GUARDAR </button>
              <button class="btn btn-danger" id= "cerraBorrarUsuario"(click)="modalCrearUsuario.close()"> CANCELAR </button>
          </modal-footer>
      </modal>
    </div>

  </div>
<!--</label>-->
</div>

<!-- LOGIN -->
<div id="login" class="container-fluid text-center bg-grey">
  <div class="text-center">
    <h2>Registrarse o Loguearse</h2>
  </div>

  <div class="col-sm-12">
  <div class="col-sm-5">
      <h3>Ingrese sus datos</h3>
      <b><div id="usuario" align=left style="padding-top:10px">Mail</div></b>   
      <input class="form-control" [(ngModel)] = "email" name="mail" placeholder="Mail" type="text">
      <b><div id="clave" align=left style="padding-top:10px">Contraseña</div></b>   
      <input class="form-control" [(ngModel)] = "pass" name="clave" placeholder="Contraseña" type="password"><br>
      <button class="btn btn-primary btn-block"(click)="registrar()"> REGISTRARSE </button><br>
 </div>
<div class="col-sm-2"> 
</div>
  <div class="col-sm-4"> 
      <h3>¿Ya se encuentra registrado? Ingrese</h3><br>
      <button class="btn btn-success btn-block"(click)="modalLogin.open()"> LOGIN </button>
 </div>
</div>

<div class="row">
      <modal #modalLogin>
          <modal-header>
              <h1>LOGIN</h1>
          </modal-header>
          <modal-content>
            <img src="/assets/fotos/login.png" alt="Avatar" style="width:25%" class="w3-circle w3-margin-top">
              <b><div align=left style="padding-top:10px">Mail</div></b>   
              <input class="form-control" [(ngModel)] = "mail" name="mail" placeholder="Mail" type="text">
              <b><div align=left style="padding-top:10px">Contraseña</div></b>   
              <input class="form-control" [(ngModel)] = "password" name="clave" placeholder="Contraseña" type="password"><br>
              <button class="btn btn-info btn-block"(click)="setEncargado()"> ENCARGADO </button>
              <button class="btn btn-warning btn-block"(click)="setEmpleado()"> EMPLEADO </button>
              <button class="btn btn-primary btn-block"(click)="setCliente()"> CLIENTE </button>
          </modal-content>
          <modal-footer>
              <button class="btn btn-success"(click)="login()"> LOGUEARSE </button>
              <button class="btn btn-danger" id= "cerrarLogin" (click)="modalLogin.close()"> CANCELAR </button>
          </modal-footer>
      </modal>
  </div>
</div>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Belén Mayo <a href="https://www.w3schools.com" title="Visit w3schools">www.pizzeriaargenta.com.ar</a></p>
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>
