
            <img src="/assets/fotos/login.png" alt="Avatar" style="width:25%" class="w3-circle w3-margin-top">
              <b><div align=left style="padding-top:10px">Mail</div></b>   
              <input class="form-control" [(ngModel)] = "userLogin" name="mail" placeholder="Mail" type="mail...">
              <b><div align=left style="padding-top:10px">Contraseña</div></b>   
              <input class="form-control" [(ngModel)] = "passLogin" name="clave" placeholder="Contraseña" type="clave"><br>
              <button class="btn btn-info btn-block"(click)="modalLogin.close()"> ADMINISTRADOR </button>
              <button class="btn btn-warning btn-block"(click)="login.close()"> ENCARGADO </button>
              <button class="btn btn-primary btn-block"(click)="modalLogin.close()"> CLIENTE </button>
